{% extends 'base.html'%}
{% load static%}
{% load crispy_forms_tags %}

{% block content %}
<!-- Posts -->
<div class="container">
    <div class="row g-0 mt-3  ">
        <div class="col-md-8">
          
          <div class="card"  style="width: 25rem;">
              <div class="card-header">
                <img src="{% static 'img/usericon.png' %}" width="35"height="35" alt="" srcset=""> Nature beauty
              </div>
              <img src="https://random.imagecdn.app/500/150" height="" class="card-img-top img-fluid rounded-start " alt="img">
              <div class="card-body">
                <p class="card-text">
                  <i class="far fa-heart"></i> &nbsp;
                  <i class="fas fa-comment"></i>
                </p>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, magnam.
                </p>
              </div>
            </div>
            <br>
            <!--  -->
            {% for post in posts %}
              <div class="card"  style="width: 25rem;">
                <div class="card-header">
                  <img src="{% static 'img/usericon.png' %}"width="35"height="35" alt="" srcset=""> {{post.user}}
                </div>
                <a href="{% url 'post-detail'  post.pk%}">
                  <img src="{{post.photo.url}}" height="" class="card-img-top img-fluid rounded-start " alt="img">
                </a>
                <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.user.profile.pk %}">@{{ post.user }}</a> {{ post.posted_at }}</p>
                    <div class="position-relative">
                        <h4>{{ post.photo_caption }}</h4>
                        <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                    </div>
                <div class="card-body">
                  <p class="card-text">
                    <div class="d-flex flex-row">
                      <!-- Start of likes -->
                      <form method="POST" action="{% url 'like' post.pk %}">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}">
                          <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                              <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                          </button>
                      </form>
                      <!-- Endof likes -->
                      <!-- Starts of Dislikes -->
                      <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                      </form>
                      <!-- End of Dislikes -->
                    </div>
                  </p>
                  <!-- Start of the Comments  -->
                  <p>
                    {% for comment in comments%}
                    {{comment.comment}}
                    {% endfor %}
                  </p>
                  <!-- End of the Comments -->
                  <!-- Start comment form -->
                  <p>
                    <form class="d-flex" action="">
                      {% csrf_token %}
                      {{c_form}}
                      <input type="submit" name="submit">
                    </form>
                  </p>
                  <!-- End comment Form -->
                  
                </div>
              </div>
              <br>
            {% endfor %}
          <!--  -->
        </div>
        <!-- User Section -->
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                  {% for user in users%}
                    <img src="{% static 'img/usericon.png' %}" width="35"height="35" alt="" srcset=""> {{user.username}}
                    <br>
                    <hr>
                  {% endfor %}
              </h5>
            </div>
          </div>
        
        </div>
        <!-- End User Section -->
    </div>
  </div>
 



 

  <!-- Endposts -->

{% endblock %}